@model IEnumerable<ECommerceApp.Application.Models.VMs.ListOfManagerVM>

@{
    ViewData["Title"] = "ListOfManagers";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center text-uppercase" >List Of Managers</h1>
<hr />
<h1 class="text-center text-uppercase">@ViewBag.EmptyList</h1>


<table class="table">
    <thead>
        <tr>
            <th>IMAGE</th>
            <th>
                Name
            </th>
            <th>
                Surname
            </th>
            <th>
               Roles
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@item.ImagePath" height="100" width="100">
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Surname
            </td>
            <td>
                @item.Roles
            </td>
            <td>
                    <a asp-action="UpdateManager" asp-area="Admin" asp-controller="Manager" asp-route-id="@item.ID" class="btn btn-success">Edit</a>
                    <a asp-action="DeleteManager" asp-area="Admin" asp-controller="Manager" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
